@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300;14..32,400;14..32,500;14..32,600;14..32,700;14..32,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
  }
}

.gradient-text {
  background: linear-gradient(135deg, #166534, #2b7a4b, #0f766e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}